/* Search box */


#uwsearcharea .radio {
  position: relative;
  display: block;
  min-height: 29px;
  margin-top: 10px;
}

label.screen-reader {
    position: absolute;
    opacity: 0;
}

#uwsearcharea {
  -webkit-transform: matrix(1, 0, 0, 1, 0, -100);
  -moz-transform: matrix(1, 0, 0, 1, 0, -100);
  -ms-transform: matrix(1, 0, 0, 1, 0, -100);
  -o-transform: matrix(1, 0, 0, 1, 0, -100);
  transform: matrix(1, 0, 0, 1, 0, -100);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#uwsearcharea .uw-search-wrapper {
  -webkit-transform: matrix(1, 0, 0, 1, 0, -20);
  -moz-transform: matrix(1, 0, 0, 1, 0, -20);
  -ms-transform: matrix(1, 0, 0, 1, 0, -20);
  -o-transform: matrix(1, 0, 0, 1, 0, -20);
  transform: matrix(1, 0, 0, 1, 0, -20);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#uwsearcharea.open {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#uwsearcharea.open .uw-search-wrapper {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#uwsearcharea .uw-results {
  position: relative;
  top: 162px;
}
.uw-search-bar-container {
  background-color: #FFF;
}
.uw-search-bar-container .radio.checked,
.uw-search-bar-container .radio.checked .second-icon {
  color: #4b2e83;
}
.uw-search-bar-container .radio .icons {
  color: #C7C7C7;
}
.uw-search-bar-container .container.no-height {
  position: absolute;
  width: 100%;
  padding: 40px 0 50px;
}
.uw-search-bar-container .uw-search-wrapper {
  position: relative;
  width: 890px;
  margin-top: 30px;
}
.uw-search-bar-container form {
  float: left;
  width: 70%;
  outline: 2px solid #ADADAD;
}
.uw-search-bar-container form input {
  width: 100%;
  height: 54px;
  padding: 10px 0 10px 15px;
  border: none;
  font-size: 20px;
  outline: none;
  background-color: #F1F1F1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.uw-search-bar-container div.labels {
  float: left;
  display: block;
  margin-left: 40px;
  margin-top: -10px;
  color: #707070;
  line-height: 29px;
}
.uw-search-bar-container div.labels .radio {
  margin-bottom: -5px;
  font-family: "Encode Sans Compressed", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.uw-search-bar-container input.search {
  border: none;
  float: left;
  display: block;
  height: 54px;
  text-indent: -99999px;
  outline: 2px solid #808080;
  background: url(../assets/svg/search.svg) no-repeat center center #808080;
  position: relative;
  -webkit-background-size: 22px;
  -moz-background-size: 22px;
  -o-background-size: 22px;
  background-size: 22px;
  padding: 0px 60px 0px 0px;
}
.uw-search-bar-container .uw-results {
  width: 890px;
  margin: auto;
}
.uw-search-bar-container .uw-results .result {
  z-index: 1;
  width: 690px;
  border-bottom: 1px solid #E4E4E4;
  display: block;
  float: left;
  margin-top: -10px;
  margin-bottom: 10px;
  position: relative;
}
.uw-search-bar-container .uw-results .result .information {
  margin: -10px 0 20px 0;
  padding: 0 15px;
}
.uw-search-bar-container .uw-results .result .title {
  margin-bottom: -3px;
}
.uw-search-bar-container .uw-results .result .mail,
.uw-search-bar-container .uw-results .result .fax,
.uw-search-bar-container .uw-results .result .telephonenumber {
  padding-left: 30px;
}
.uw-search-bar-container .uw-results .result .mail a:hover,
.uw-search-bar-container .uw-results .result .fax a:hover,
.uw-search-bar-container .uw-results .result .telephonenumber a:hover {
  color: #4b2e83;
}
.uw-search-bar-container .uw-results .result .mail {
  background: url('assets/images/search-mail.png') no-repeat 0 8px;
}
.uw-search-bar-container .uw-results .result .fax {
  background: url('assets/images/search-fax.png') no-repeat 0 8px;
}
.uw-search-bar-container .uw-results .result .telephonenumber {
  background: url('assets/images/search-phone.png') no-repeat 0 6px;
}
.uw-search-bar-container .uw-results .result .vcard {
  background: url('assets/images/search-vcard.png') no-repeat 0 6px;
}
.uw-search-bar-container .uw-results .result.open h4 {
  color: #4b2e83;
}
.uw-search-bar-container .uw-results .result.open a.directory-more {
  background-position: -310px -23px;
  -webkit-transition: none;
  transition: none;
}
.uw-search-bar-container .uw-results .result:last-child {
  border: none;
  margin-bottom: 20px;
}
.uw-search-bar-container .uw-results h4 {
  width: 100%;
  font-size: 18px;
  color: #757575;
  padding: 15px 0 15px 14px;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.uw-search-bar-container .uw-results a.directory-more {
  text-indent: -99999px;
  background: url('../assets/svg/uw-sprite.svg') no-repeat -283px 1px;
  height: 25px;
  right: 25px;
  top: 14px;
  position: absolute;
  width: 30px;
}
.uw-search-bar-container .uw-results .information {
  float: left;
  width: 100%;
  color: #4E4E4E;
}
.uw-search-bar-container .uw-results .information p {
  color: #4E4E4E;
}
.uw-search-bar-container .uw-results .information span {
  float: left;
  width: 100%;
}
.uw-search-bar-container .uw-results .information a {
  color: #4E4E4E;
}
.uw-search-bar-container .uw-results .more-results {
  clear: both;
  padding: 10px 0 0 10px;
  font-size: 15px;
  color: #525252;
}
body #uw-container {
  transition: transform .3s;
}
body.search-open #uw-container {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 192);
  -moz-transform: matrix(1, 0, 0, 1, 0, 192);
  -ms-transform: matrix(1, 0, 0, 1, 0, 192);
  -o-transform: matrix(1, 0, 0, 1, 0, 192);
  transform: matrix(1, 0, 0, 1, 0, 192);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #uwsearcharea .center-block {
    width: 750px;
  }
}
@media only screen and (max-width: 767px) {
  #uwsearcharea .uw-results {
    top: 126px;
  }
  .uw-search-bar-container {
    padding: 0px;
  }
  .uw-search-bar-container .container.no-height {
    padding: 0px 0;
  }
  .uw-search-bar-container .uw-search-wrapper {
    width: 90%;
    position: relative;
    margin-top: 15px;
  }
  .uw-search-bar-container .uw-search-wrapper .search {
    position: absolute;
    right: 0;
    top: 0;
  }
  .uw-search-bar-container .uw-search-wrapper div.labels {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .uw-search-bar-container select {
    width: 100%;
    margin: 0 0 15px;
  }
  .uw-search-bar-container form {
    width: 100%;
    margin-bottom: 15px;
  }
  .uw-search-bar-container form input {
    border-radius: 0;
  }
  .uw-search-bar-container .uw-results h4 {
    padding: 15px 60px 15px 14px;
  }
  .uw-search-bar-container .uw-results .result {
    width: 100%;
  }
  body.search-open #uw-container {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 126);
    -moz-transform: matrix(1, 0, 0, 1, 0, 126);
    -ms-transform: matrix(1, 0, 0, 1, 0, 126);
    -o-transform: matrix(1, 0, 0, 1, 0, 126);
    transform: matrix(1, 0, 0, 1, 0, 126);
  }
}
