/* Not in our normal CSS; custom */
 
body #uw-container {
  font-size: 17px;  
  line-height: 1.72222;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  line-height: 29px;
  cursor: pointer;
}


/* Required bootstrap grid */


.visible-xs {
  display: none !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Bootstrap Mixin */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
